<!DOCTYPE html>
<html lang="ru">
<head>
  {{> head}}
</head>
<body id="{{id}}">
    <table id="layout">
     <tr>
            <td id="layout-header">{{> main-menu}}</td>
        </tr>
        <tr>
            <td id="layout-content">                
                <div id="content" class="container">
                    {{> contact-list}}

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2349.3944380212038!2d27.50953071586036!3d53.92473598010436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbc56c1bc6cfff%3A0x610fc0a166729e4!2z0YPQu9C40YbQsCDQotC40LzQuNGA0Y_Qt9C10LLQsCA3Miwg0JzQuNC90YHQug!5e0!3m2!1sru!2sby!4v1488737775442" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </td>
        </tr>
       
        <tr>
            <td id="layout-footer">
                {{> footer}}
            </td>
        </tr>
    </table>
</body>
</html>
