<!DOCTYPE html>
<html lang="ru">
<head>
  {{> head}}
</head>
<body id="{{id}}">
    <table id="layout">
     <tr>
            <td id="layout-header">{{> main-menu}}</td>
        </tr>
        <tr>
            <td id="layout-content">                
                <div id="content" class="container">
                    {{> contact-list}}
                    <div class="map">
                      {{> map}}
                    </div>
                </div>
            </td>
        </tr>
       
        <tr>
            <td id="layout-footer">
                {{> footer}}
            </td>
        </tr>
    </table>
</body>
</html>
