<div class="clearfix ">
    <div id="footer-contacts" class="col-md-4 col-xs-8 ">
        <h3>mail@mail.ru</h3>
    </div>
    <div id="footer-nav" class="col-md-4 col-xs-4 ">
        <ul class=" ">
            <li>
                <a href="/index.html ">Мы продаём</a>
            </li>
            <li>
                <a href="/service.html ">Мы делаем</a>
            </li>
            <li>
                <a href="/contacts.html ">Контакты</a>
            </li>
        </ul>
    </div>
    <div id="footer-copyright" class="col-md-4 col-xs-12 text-right ">© 2017 ГидроМонтажКомплект. <span class="text-nowrap ">Все права защищены.</span></div>
</div>
