<div class="info-preview">
    <div class="info-preview-img col-sm-4">
        <img class="img-responsive" src="{{{image}}}" />
    </div>
    <div class="info-preview-content col-sm-8">
        <h3>{{caption}}</h3>
        {{#text}}
          <p>{{{.}}}</p>
        {{/text}}
    </div>
</div>
