#contacts-page {
    #layout-content {
        vertical-align: middle;
        padding-bottom: 2em;
    }
    .contacts {
        margin: 1em auto;
        >div {
            float: none;
            margin-bottom: 2em;
            vertical-align: top;
            @media(min-width: 768px) {
                display: inline-block;
            }
        }
        .contact-icon {
            _min-height: 150px;
            background-size: contain;
            background-position: center bottom;
            background-repeat: no-repeat;
            font-size: 800%;
        }
        .contact-text {
            margin: 0.5em 0;
            font-size: 120%;
        }
    }
    .map {
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}
