.banner {
    width: 100%;
    img {
        margin: 0 auto;
    }
}

#banner-head {
    padding-bottom: 10px;
    img {
        width: 100%;
    }
}

#banner-foot {
    padding: 15px 0;
}
