#menu {
    /* for menu shadow */
    position: relative;
    z-index: 1;
    .logo-lg {
        padding: 20px 0 20px 100px;
        width: 100%;
        a {
            font: bold 24px Arial, Helvetica, sans-serif;
            text-decoration: none;
        }
        @media (max-width: 767px) {
            display: none;
        }
        .menu-tel {
            list-style-type: none;
            padding-right: 25px;
        }
    }
    .navbar {
        border: none;
        border-radius: 0;
        margin-bottom: 0;
        a {
            color: #fff;
        }
        .navbar-collapse ul {
            font-size: 20px;
            @media (min-width: 768px) {
                margin-left: 100px;
            }
        }
        .logo-xs {
            display: none;
            margin: 6px;
            img {
                width: 40px;
                height: 40px;
            }
            @media (max-width: 767px) {
                display: inline-block;
            }
        }
    }
}
