#footer-nav a {
    color: #808080;
    text-decoration: underline;
    text-align: center;
}

#footer-nav li {
    list-style-type: none;
}

.carousel {
    width: 100%;
    max-width: 525px;
    margin: 0 auto;
    .item img {
        margin: 0 auto;
    }
}
