@media (max-width: 767px) {
    #banner-head {
        display: none;
    }
}

.banner-content {
    display: block;
    text-align: center;
    width: 100%;
    padding-bottom: 5px;
}

@media (max-width: 767px) {
    .banner-content {
        display: none;
    }
}

#footer-nav a {
    color: #808080;
    text-decoration: underline;
}

@media (min-width: 768px) {
    .col-sm-height {
        display: table-cell;
        float: none;
    }
}
  
.row-same-height {
    display: inline-block;
    margin-top: 20px;
}

.row-same-height .info-preview-content {
    background-color: grey;
    margin: 0;
    padding: 30px;
}

.row-same-height #responsive {
    padding: 0;
    margin-right: -15px;
}

.info-preview-content p {
    display: block;
}